* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a:link {
    text-decoration: none;
    color: azure;
    padding: 5px;
}

.nav {
    background-color: gray;
    display: flex; 
    /* always include display-flex, justify-content and align-items */
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

h1 {
    color: honeydew;
}

.nav-title {
    
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    color: azure;
    padding: 10px;
    align-items: center;
}

li {
    list-style: none;
}

.active {
    color: azure;

}

.btn {
    background-color: aquamarine;
    color: azure;
    box-shadow: 3px 3px black;
    padding: 5px 10px;
}